.card {
    color: black;
    margin-top: 40px;
    margin-right: 15px;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.custom-title {
    font-weight: bold;
    font-size:xx-large;
}