.App-content {
    margin-left: 23rem;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    width: calc(100% - 23rem);
    color: white;
}

.App-typography {
    color: white;
    font-size: calc(10px + 2vmin);
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

.col {
    margin-top: 40px;
}

.row {
    color: black;
    padding-left: 20px;
}