/*
  General CSS for all pages!
*/



/****** ALL PAGES *****/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

::selection {
  background: #7846b9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #f5f5f5;
  text-decoration: none;
}

body {
  background-color: #2a2a2a;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  margin-left: 300px;
  padding: 0px 20px 20px 20px;
}

.card {
  margin-top: 20px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 10px;
  height: auto;
  margin-bottom: 20px;
  padding: 20px;
}

.top-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 60px 0px 60px;
}

.top-data #data {
  text-align: center;
}

.top-data #header {
  font-size: 28px;
}

.top-data #info {
  font-size: 48px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #1a1a1a;
}

.row#bottom {
  margin-bottom: 0;
}

.row-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/****** DASHBOARD *****/
.table-row {
  display: flex;
}

.column {
  flex: 50%;
  border-radius: 10px;
  background-color: #1a1a1a;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.column#proposals {
  margin-right: 10px;
}

.column#grants {
  margin-left: 10px;
}

.see-more {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 24px;
  color: #f5f5f5;
}

.see-more:hover {
  color: #f5f5f5;
  text-decoration: underline;
}



/***** NEW PROPOSAL/GRANT FORM *****/
.row#form {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 100px); /* total vertical height - nav-height - 20px*/
  flex-direction: column;
  margin-bottom: 0;
}

.body-text {
  color: #f5f5f5;
  font-size: 26px;
  margin-bottom: 10px;
}

#input-name {
  color: #f5f5f5;
  font-size: 22px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #2a2a2a;
  padding: 5px;
}

#input-name:focus {
  outline: 0;
  box-shadow: none;
}

#textarea-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #f5f5f5;
  font-size: 22px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style: none;
  resize: none;
  background-color: #2a2a2a;
  padding: 5px;
}

.body-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  background-color: #7846b9;
  color: #f5f5f5;
  border-style: none;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}

.body-button:hover {
  background-color: #936bc7;
  transition: 0.5s;
}

.body-button#left {
  margin-right: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-buttons {
  display: flex;
}



/***** VIEW PROPOSAL *****/
.top#view-proposal {
  justify-content: left;
  padding: 20px;
  height: 60px;
}

.proposal-body-text {
  font-size: 18px;
}



/***** PROPOSAL/GRANT PAGES *****/
.header-button {
  text-decoration: none;
  font-size: 18px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  border-radius: 10px;
  background-color: #603894;
}

.header-button:hover {
  color: #ffffff;
  background-color: #936bc7;
  transition: 0.5s;
}

.body-button#yea {
  background-color: #3caa5f;
  margin-right: 20px;
}

.body-button#nay {
  background-color: #ba2c2c;
  margin-right: 20px;
}

.body-button#yea:hover {
  color: #ffffff;
  background-color: #68ca87;
  margin-right: 20px;
}

.body-button#nay:hover {
  color: #ffffff;
  background-color: #d85a5a;
  margin-right: 20px;
}
